In [1]:
# Import pandas
import pandas as pd

In [2]:
# Create a DataFrame with balance.txt
df =pd.read_csv('balance.txt',sep=" ")

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity. 
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()`For a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [5]:
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

In [21]:
#Compare the average income based on ethnicity.
df.groupby(by="Ethnicity").mean().loc[:,"Income"]

C:\Users\river\AppData\Local\Temp\ipykernel_36372\300603395.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(by="Ethnicity").mean().loc[:,"Income"]

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [30]:
#On average, do married or single people have a higher balance?
income_Martial = df.groupby(by="Married").mean().loc[:,"Balance"]
ans ="On average, people have a higher balance "
print(
    "Married ".join([ans[:12],ans[12:]]) 
    if income_Martial.loc["Yes"] > income_Martial.loc["No"] 
    else "Single ".join([ans[:12],ans[12:]])
)

On average, Single people have a higher balance

C:\Users\river\AppData\Local\Temp\ipykernel_37552\2562583712.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  income_Martial = df.groupby(by="Married").mean().loc[:,"Balance"]

In [72]:
#What is the highest income in our dataset?
income_sort = df.sort_values(by="Income",ascending=False)
print(f'The highest income in the dataset is {income_sort.iloc[0,1]}')

The highest income in the dataset is 186.634

In [82]:
#What is the lowest income in our dataset?
print(f'The lowest income in the dataset is {income_sort.iloc[-1,1]}')

The lowest income in the dataset is 10.354

In [80]:
#How many cards do we have recorded in our dataset? (Hint: use `sum()`)
print(f'No of cards recorded in the dataset = {df["Cards"].sum()}')

No of cards recorded in the dataset = 1183

In [81]:
"""How many females do we have information for vs how many males? 
(Hint: use `count()
 """
print(
    f'We have {df[df["Gender"]=="Female"]["Gender"].count()} Female info and {df[df["Gender"]=="Male"]["Gender"].count()} Male info'
)
#these logic can also serve
#df[df["Gender"]=="Female"].count()["Gender"]
#df[df["Gender"]=="Female"].count()[0]

We have 207 Female info and 193 Male info